body {
    text-align: center;
    font-family: Arial;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 20px auto;
}

.cell {
    border: 2px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
